@import "style/variable.scss";
div.FooterContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  height: 2.5em;
  font-size: 1em;
  background-color: #3a7ab986;
}
